.bg {
  background: url('../assets/images/yosemite.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 850px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
}

.navbar {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

#header {
  top:100px;
  height: 850px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:rgba(26,26,26,.75);
}

#about {
  top:750px;
  height: 650px;
  color: #111111;
  background:white;
}
#experience {
  top:1400px;
  height: 1050px;
  color: black;
  background:#EEEEEE;
}
#explore {
  top:2050;
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:#26262a;
}

#profile_picture {
  height:400px;
}
